export(hb_trialmodel)
export(repeatmodel)
export(set_controls_optim)
export(set_controls_snowfall)
export(set_spec_repeatmodel)
export(set_spec_trialmodel)
export(trialmodel)
import(data.table)
import(snowfall)
